<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <form action="/" method="post">
      <label>タスクの追加</label>
      <input required type="text" name="add" placeholder="例:Node.jsの勉強" />
      <input type="submit" value="追加" />
    </form>
    <ul>
      <% for(let todo of todos){ %>
      <li>
        <span><%= todo.content %></span>
        <form action="/<%= todo.id %>/update" method="post">
          <input type="text" name="newTask" />
          <button type="submit">更新</button>
        </form>
        <form action="/<%= todo.id %>/delete" method="post">
          <button type="submit">削除</button>
        </form>
      </li>
      <% } %>
    </ul>
  </body>
</html>
